body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all 150ms ease-in-out, color 150ms ease-in-out;
}

html {
    background-color: #fcf4f2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

i.fas, i.fab {
    display: flex;
    align-items: center;
}

a.clean-link{
    text-decoration: none;
    color: currentColor;
}

h1 {
    font-size: 3rem;
}

h1,h3 {
    color: #333333;
}

.underline-title {
    position: relative;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      25% {
        opacity: 0;
      }
      /* Other animation is hidden for 75% of the time */
      50% {
        opacity: 0;	
      }
      75% {
        opacity: .5;	
      }
      100% {
        opacity: 1;	
        transform: translateX(0);
      }
    
  }

.underline-title::before {
    color: #000;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    animation: 1s ease-out 0s 1 slideInFromLeft;
        
      
};

.underline-title:hover {
    color: #000;       
      
};

span.highlight-frontend {
    box-shadow: 0 10px 0 0 rgb(0 114 177 / 0%), inset 0 -0.125em rgb(0 114 177 / 20%);
    padding: 0 2px 2px;
    position: relative;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: box-shadow,color;
    transition-property: box-shadow,color;
}