body {
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
    transition: all 150ms ease-in-out, color 150ms ease-in-out;
}

html {
    background-color: #fcf4f2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

i.fas, i.fab {
    display: flex;
    align-items: center;
}

a.clean-link{
    text-decoration: none;
    color: currentColor;
}